body{
  background-color: #74A662;
  margin: 0px;
}

/* Nav Bar */
.nav-bar{
  display: flex;
  flex:1;
  height: 15vh;
  border: solid whitesmoke 1px;
}

.nav-bar-logo{
  display: flex;
  width: 25vw;
  background-color: whitesmoke;
}

a {
  color: inherit; /* Sets the link color to match its surrounding text */
  text-decoration: none; /* Removes the underline */
}

a:hover {
  text-decoration: underline; /* Optional hover effect */
  color: #FFD700; /* Change to gold or another hover color */
}


.nav-bar-links{
  display: flex;
  width: 50vw;
  flex-direction: row;
  color: black;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
}

.nav-bar-explore{
  display: flex;
  width: 25vw;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
  
}

.nav-bar-explore-search-button{

}

.nav-bar-explore-login{
  display: flex;

}

