body{
  background-image: url(/images/dark-ss.jpg);
  background-size: cover;
  margin: 0;
  display: flex;
  flex:1;
  flex-direction: column;
}

.header-section{
  display: flex;
  height: 10vh;
  background-color: lightblue;

}

.media-player{
  display: flex;
  height:50vh;
  background-color: lightpink;
}

.action-panel{
  display: flex;
  height: 40vh;
  background-color: lightgreen;
}



.video-clips{
  display: flex;
  flex:3;
  background-color: lightgray;
  height: inherit;
  flex-direction: column;
}

.video-clips-edit{
  display: flex;
  flex:1;
  background-color: lightgoldenrodyellow;
  align-items: center;
}

.video-clips-edit-input{
  display: flex;
  height: 5vh;
  width: 30vw;
}

.video-clips-saved{
  display: flex;
  flex:1;
  background-color: lightgreen;
}

.saved-clips{
  display: flex;
  flex:1;
  height: ;
}

.player-actions{
  display: flex;
  flex:4;
  background-color:darkgray;
  height: inherit;
}

.notes-section{
  display: flex;
  flex:3;
  background-color: lightgray;
  height: inherit;
}