.body {
  display: grid;
  grid-template-rows: 8% 65% 27%;
  background-image: url('stainless.png');
  background-size: cover; /* Ensure the image covers the entire page */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center center; /* Center the image */
  background-attachment: fixed; /* Keep the background fixed during scroll */
  margin: 0;
  padding: 0;
}

.top-section {
  background-color: #2C2C2C;
  display: grid;
  grid-template-columns:25% 50% 25%;
}

.logo-container{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
}

.logo-pic {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
}

.ppt-title {
  color: whitesmoke;
  display: flex;
  flex:1;
  justify-content: center ;
}

.account-login {
  color: whitesmoke;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.middle-section{
  background-color: #50C878;
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
}

.video-player{
  display: flex;
  flex:1;
  border: solid 3px black;
  width: 960px;
  height: 540px;
  align-items: center;
  justify-content: center;
}

.bottom-section{
  display: grid;
  grid-template-columns: 25vw 50vw 25vw;
}

.video-clips{
  display: flex;
  flex:1;
  height: 200px;
  flex-direction: column;
  border: solid 1px white;
  background-color: #2C2C2C;
  padding-top:50px;
}

.clip-button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.clip-button-css{
  display: flex;
  justify-content: center;

}

.clip-savings{
  display: flex;
  margin-top:15px;
}

.clips{
  display: flex;
  flex:1;
  width: 50px; 
  height: 50px; 
  background-color: lightblue; 
  border: 1px solid blue; 
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player-actions{
  border: solid 1px black;
  display:grid;
  grid-template-rows: 20px 230px;
}

.player-search{
  display: flex;
  flex:2;
  justify-content: center;
  align-items: center;
}

.action-buttons{
  display: grid;
  grid-template-columns: 170px 170px 170px;
}

.column-1{
  border: solid 1px white;
}

.column-2{
  border: solid 1px white;
}

.column-3{
  border: solid 1px white;
}



.notes{
  display: grid;
  grid-template-rows: 50px 60px 140px;
  color: whitesmoke;
  height: 250px;
  border: solid 1px white;
}

.notes-title{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}

.adding-notes{
  border: solid 1px white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.notes-button{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  width: 325px;
}


.stored-note{
  display: grid;
  grid-template-rows: 20px 120px;
}

.stored-notes-title{
  display: flex;
  flex:1;
  color: whitesmoke;
  justify-content: center;
}

.stored-notes{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
}
  
