body{
  margin: 0;
  display: flex;
  flex:1;
  flex-direction: column;
}

.header-section{
  display: flex;
  height: 10vh;
  background-color: lightblue;
  justify-content: center;
  background-color: #006633;
}

.header-title{
  display: flex;
  color: #FFCC00;
}

/*Media PLayer Section*/
.main-media-player{
  display: flex;
  height:50vh;
}

.media-player{
  display: flex;
  flex:1;
  height: 50vh;
  align-items: center;
  justify-content: center; 
  background-color: #1a1a1a;
}

#media-player-image{
  display: flex;
  height: 100%;
  width: auto;
  
}

/*Bottom three sections*/

.action-panel{
  display: flex;
  height: 40vh;
  background-color: lightgreen;
}

/*First third of bottom section*/
.video-clips-section{
  display: flex;
  flex:3;
  background-color: lightgray;
  flex-direction: column;
}

.video-clips-edit{
  display: flex;
  flex:1;
  background-color: lightgoldenrodyellow;
  align-items: center;
  justify-content: center;
  
}

.video-clips-edit-input{
  display: flex;
}

.video-clips-saved{
  display: flex;
  flex:1;
  background-color: lightgreen;
}

.saved-clips{
  display: flex;
}

/*Second third of bottom section*/
.player-actions{
  display: flex;
  flex:4;
  height: inherit;
  flex-direction: column;
}

.pa-input{
  display: flex;
  flex:1;
  background-color: #006633;
  justify-content: center;
}

#pa-input-button{
  height: 5vh;
  width: 25vw;
  text-align: center;
}

.pa-team{
  display: flex;
  flex:1;
  background-color:#006633;
}

.pa-team-name{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color:#FFCC00;
}

.pa-action-buttons{
  display: flex;
  flex:3;
  background-color: lightblue;
}

.pa-buttons{
  display: flex;
  flex: 1;
  justify-content:center;
  align-items: center;
}

.pa-action-button-titles{
  display: flex;
  flex: 1;
  justify-content: center;
}

.pa-action-buttons-offense{
  display:flex;
  flex: 1;
  background-color: lightcoral;
  flex-direction: column;

}

.pa-action-buttons-defense{
  display: flex;
  flex: 1;
  background-color: darkred;
  flex-direction: column;
}

.pa-action-buttons-key{
  display: flex;
  flex: 1;
  background-color: lightblue;
  flex-direction: column;
}

.pa-action-buttons-stats{
  display: flex;
  height: 5vh;
}

/*Final third of bottom section*/
.notes-section{
  display: flex;
  flex:3;
  background-color: #006633;
  color: #FFCC00;
  flex-direction: column;
  height: inherit;
}

#notes-section-input{
  display: flex;
  flex: 1;
  margin-top: 5vh;
  border-radius: 7px;
  text-align: center;
  resize: none;
}

#notes-section-list{
  display: flex;
  flex: 3;
  flex-direction: column;
}